!!!
%html
  %head
    %title WidgetsApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cosmo/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    - if notice
      .alert.alert-success= notice
    - if alert
      .alert.alert-warning= alert
    = yield
